# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# =========================
# Virtual Environment
# =========================
env/
venv/
ENV/
.venv/

# =========================
# Django
# =========================

*.log
staticfiles/
media/

# =========================
# Environment variables
# =========================
.env

# =========================
# Migrations cache
# =========================
**/migrations/__pycache__/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Node (if any frontend used)
# =========================
node_modules/

# =========================
# Render / Deployment
# =========================
.env.production
.env.local
